.ft {
    width: 100%;
    height: 400px;
    position: relative;
    border-left: solid 1px #eee;
    border-top: solid 1px #eee;
}

.ft .ftScrollable {
    overflow: auto;
    width: 100%;
    height: 400px;
    position: relative;
}

.ft .ftHead {
    width: 100%;
    white-space: nowrap;
}

.ft .ftBody {
    width: 100%;
}

.ft .ftBody .ftRow {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;

    border-top: solid 1px #eee
}

.ft .ftHead > div,
.ft .ftBody .ftRow > div {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;

    width: 150px;
    height: 30px;

    line-height: 30px;

    background-color: #fff;
    border-right: solid 1px #eee;
    padding: 0px 10px;

    text-overflow: ellipsis;
    overflow: hidden
}

.ft .ftHead > div {
    position: relative;
}

.ft .ftHead > div .ftResize {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    cursor: col-resize;
}

.ft .ftHead > div {
    font-weight: bold;
}

.ft .ftCenterMsg {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: italic;
}

.ft.ftFixedHead .ftHead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: auto;
    z-index: 30
}

.ft.ftFixedFCol .ftBody .ftRow > div.fCol {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: auto;
    z-index: 20
}

.ft.ftFixedFCol .ftHead > div.fCol {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 20
}

.ft .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ft.ftFixedFCol.ftScrolledRight .ftBody .ftRow > div:nth-child(1):after, .ft.ftFixedFCol.ftScrolledRight .ftHead > div:nth-child(1):after {
    content: '';
    position: absolute;
    right: 1px;
    width: 11px;
    height: calc(100% + 9px);
    box-shadow: 8px 0 5px -4px #f1f1f1;
}